<footer class=" ">
  <div class="container flex">
    <div class="first">
      <img src="/assets/img/ico/logo.jfif" height="90" alt="Logo NVNE">
    </div>
    <div class="left second">
      <div class="footer-link title text-white"><a routerLink="/apropos">À PROPOS</a></div>
      <div class="footer-link"><a href="{{util.url_contact}}">CONTACT</a></div>
      <div class="footer-link"><a routerLink="">AIDE</a></div>
      <div class="footer-link"><a href="{{util.url_contact}}">CONDITIONS GÉNÉRALES</a></div>
      <div class="footer-link"><a href="{{util.url_mlegales}}">MENTIONS LÉGALES</a></div>
    </div>
    <div class="last">
      <div class="social-links">
        <div class="title">SUIVEZ-NOUS</div> <br/>
        <div><a href="https://www.facebook.com/NVNE.29/" target="_blank" rel="noopener noreferrer"><img src="/assets/img/ico/facebook.png" width="25" alt="icon facebook"></a></div>
        <div><a href="https://www.instagram.com/nvne.inc/" target="_blank" rel="noopener noreferrer"><img src="/assets/img/ico/instagram.png" width="25" alt="icon instagram"></a></div>
      </div>
    </div>
  </div>
  <div class="hidden">
    version : {{versionNumber}}
  </div>
  <!-- <p>&copy; NVNE 2020</p>
  <p><a href="https://icons8.com/icon/40217/arrière">Icons by Icons8</a></p> -->
</footer>
